[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aio-pika = "*"
aioboto3 = "*"
python-decouple = "*"
aiohttp-requests = "*"
asyncpg = "*"

[dev-packages]
mypy = "*"
pytest = "*"

[requires]
python_version = "3.9"
